.myOrdersPage {
  width: 100vw;
  max-width: 100%;
  padding: 0 7vmax;
  box-sizing: border-box;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#myOrdersHeading {
  text-align: center;
  font: 400 1.2vmax "Roboto";
  padding: 0.5vmax;
  box-sizing: border-box;
  color: #fff;
  transition: all 0.5s;
  background-color: rgb(44, 44, 44);
}
.myOrdersTable {
  background-color: #fff;
}

.myOrdersTable a {
  color: rgba(0, 0, 0, 0.527);
  transition: all 0.5s;
}

.css-1lymaxv-MuiDataGrid-root .MuiDataGrid-columnHeaderTitleContainer {
  background-color: tomato;
  padding: 1vmax;
}
.css-1lymaxv-MuiDataGrid-root .MuiDataGrid-columnHeader--sortable {
  background-color: tomato;
}
